<?xml version="1.0"?>
<config>
	<modules>
		<DigitalPianism_ReviewCaptcha>
			<version>0.0.4</version>
		</DigitalPianism_ReviewCaptcha>
	</modules>
	
	<global>
        <blocks>
            <review>
                <rewrite>
                    <form>DigitalPianism_ReviewCaptcha_Block_Form</form>
                </rewrite>
            </review>
        </blocks>
    </global>
	
	<frontend>
		<routers>
			<review_captcha>
				<use>standard</use>
				<args>
					<module>DigitalPianism_ReviewCaptcha</module>
					<frontName>reviewcaptcha</frontName>
				</args>
			</review_captcha>
		</routers>

        <layout>
            <updates>
                <review_captcha>
                    <file>digitalpianism/reviewcaptcha.xml</file>
                </review_captcha>
            </updates>
        </layout>
    </frontend>
    <default>
		<!-- Required for the in built Magento Captcha -->
		<captcha>
			<frontend>
				<areas>
					<review_captcha>
						<label>Product Review Form</label>
					</review_captcha>
				</areas>
			</frontend>
		</captcha>
		<customer>
			<captcha>
				<always_for>
					<review_captcha>1</review_captcha>
				</always_for>
			</captcha>
		</customer>
	</default>
</config>